In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [12]:
pd.set_option("display.max_columns", None)

In [6]:
electricity_data_1=pd.read_csv("C:/Users/bahad/OneDrive/Masaüstü/Research/TBMA/WeatherData/36.29 32.29.csv")
electricity_data_2=pd.read_csv("C:/Users/bahad/OneDrive/Masaüstü/Research/TBMA/WeatherData/36.97 35.29.csv")
electricity_data_3=pd.read_csv("C:/Users/bahad/OneDrive/Masaüstü/Research/TBMA/WeatherData/37.97 32.54.csv")
electricity_data_4=pd.read_csv("C:/Users/bahad/OneDrive/Masaüstü/Research/TBMA/WeatherData/38.319 27.159.csv")

In [9]:
electricity_data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36195 entries, 0 to 36194
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   lat          36195 non-null  float64
 1   lon          36195 non-null  float64
 2   stationid    36195 non-null  object
 3   datetime     36195 non-null  int64
 4   rh           35297 non-null  float64
 5   wind_spd     35479 non-null  float64
 6   slp          35623 non-null  float64
 7   vis          36195 non-null  float64
 8   pres         35623 non-null  float64
 9   h_angle      28298 non-null  float64
 10  dewpt        35297 non-null  float64
 11  snow         35573 non-null  float64
 12  uv           36195 non-null  float64
 13  pod          36195 non-null  object
 14  wind_dir     35553 non-null  float64
 15  ghi          36195 non-null  float64
 16  dhi          36195 non-null  float64
 17  elev_angle   36195 non-null  float64
 18  dni          36195 non-null  float64
 19  azimuth      36195 non-null  float64
 20  temp         35623 non-null  float64
 21  precip       36126 non-null  float64
 22  clouds       36176 non-null  float64
 23  ts           36195 non-null  int64
 24  solar_rad    10757 non-null  float64
 25  code         36195 non-null  int64
 26  description  36195 non-null  object
dtypes: float64(21), int64(3), object(3)
memory usage: 7.5+ MB

In [14]:
electricity_data_1.head()

,lat,lon,stationid,datetime,rh,wind_spd,slp,vis,pres,h_angle,dewpt,snow,uv,pod,wind_dir,ghi,dhi,elev_angle,dni,azimuth,temp,precip,clouds,ts,solar_rad,code,description
0,36.29,32.29,LTFG,1420070400,49.0,4.6,1013.7,5.0,1013.0,-90.0,6.2,0.0,0.0,n,160.0,0.0,0.0,-59.9169,0.0,72.1226,17.0,2.1,91.0,1420070400,NaN,500,Light rain
1,36.29,32.29,LTFG,1420074000,69.0,1.7,1015.6,5.0,1014.9,NaN,7.6,0.0,0.0,n,323.0,0.0,0.0,-48.1253,0.0,84.4578,13.2,2.2,92.0,1420074000,NaN,500,Light rain
2,36.29,32.29,LTFG,1420077600,64.0,1.9,1015.3,5.0,1014.6,NaN,7.0,0.0,0.0,n,306.0,0.0,0.0,-36.0920,0.0,93.6018,13.7,2.5,90.0,1420077600,NaN,500,Light rain
3,36.29,32.29,LTFG,1420081200,53.0,9.3,1013.7,5.0,1013.0,-90.0,7.4,0.0,0.0,n,220.0,0.0,0.0,-24.1618,0.0,101.6320,17.1,2.8,91.0,1420081200,NaN,500,Light rain
4,36.29,32.29,LTFG,1420084800,64.0,2.1,1015.4,5.0,1014.7,NaN,6.9,0.0,0.0,n,310.0,0.0,0.0,-12.5646,0.0,109.5160,13.6,2.6,93.0,1420084800,NaN,500,Light rain

In [8]:
electricity_data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36309 entries, 0 to 36308
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   lat          36309 non-null  float64
 1   lon          36309 non-null  float64
 2   stationid    36309 non-null  object
 3   datetime     36309 non-null  int64
 4   rh           35858 non-null  float64
 5   wind_spd     36089 non-null  float64
 6   slp          33731 non-null  float64
 7   vis          36309 non-null  float64
 8   pres         32558 non-null  float64
 9   h_angle      31328 non-null  float64
 10  dewpt        35858 non-null  float64
 11  snow         36209 non-null  float64
 12  uv           36309 non-null  float64
 13  pod          36309 non-null  object
 14  wind_dir     35736 non-null  float64
 15  ghi          36309 non-null  float64
 16  dhi          36309 non-null  float64
 17  elev_angle   36309 non-null  float64
 18  dni          36309 non-null  float64
 19  azimuth      36309 non-null  float64
 20  temp         36258 non-null  float64
 21  precip       36241 non-null  float64
 22  clouds       36290 non-null  float64
 23  ts           36309 non-null  int64
 24  solar_rad    10757 non-null  float64
 25  code         36309 non-null  int64
 26  description  36309 non-null  object
dtypes: float64(21), int64(3), object(3)
memory usage: 7.5+ MB